#footer{
    margin-top: 2rem;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #1C4A82;
    color: #fff;
    h3{
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    #footer h3{
        font-size: .8rem;
    }
}