.navbar-container{
    height: 3vh;
    ul{
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        padding-right: 1em;
        #Link{
            text-decoration: none;
            color: #000;
            font-weight: bold;
            transition: all 1s ease;
            li{
                box-sizing: border-box;
                list-style-type: none;
                font-size: 1em;
            }
        }
        #Link:hover{
            color: #fff;
            padding: 0 .7em;
            background-color: #000;
        }
    }
}

@media screen and (max-width:380px){
    .navbar-container ul #Link li{
        font-size: .9rem;
    }
}