.container-fetch{
    margin: 0 2vw ;
}
.center-table {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    thead ,th{
        border: 1px solid red;
        
    }
    tbody tr td{
        border: 1px solid red;
    }
  }
  