main#main{
    height: 15vh;
    margin-top: 5vh;
    .paragraph-container{
        display: flex;
        flex-direction: row;
        height: 15vh;
        align-items: center;
        justify-content: center;
        p{
            text-align: center;
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width:700px){
    main#main{
        margin-top: 3vh;
        font-size: 1em;
        padding: 0 2em;
        .paragraph-container p{
            font-size: 1.2rem;
        }
    }
    
}
@media screen and (max-width:400px){
    main#main{
        margin-top: 5vh;
    }
}