@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
.search-container{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .search-container-box{
        width: 100%;
        text-align: center;
        margin: 1.5rem 0;
        input{
            width: 70%;
            height: 4vh;
            font-size: 1.1em !important;
            border: 3px solid #000;
            outline: none;
            margin-right: 2em;
        }
        button#search{
            height: 4.5vh;
            padding: 0 5px;
            background-color: #fff;
            color: #000;
            font-size: 1rem;
            border: 3px solid #000;
            cursor: pointer;
            transition: all 1s ease;
        }
        button#search-type{
            height: 4.5vh;
            padding: 0 2rem;
            background-color: #fff;
            color: #000;
            font-size: 1rem;
            border: 3px solid #000;
            margin: 0 3rem;
            cursor: pointer;
            transition:  1s ease;
        }
        #search:hover, #search-type:hover{
            background-color: #000;
            color: #fff;
        }
        #select-options{
            height: 5vh;
            width: 90%;
            background-color: #fff;
            color: #000;
            font-size: 1rem;
            font-weight: bold;
            border: 3px solid #000;
            cursor: pointer;
        }
    }

}
@media screen and (max-width: 800px) {
    .search-container{
        .search-container-box{
            width: 100%;
        }
    }  
}
@media screen and (max-width: 650px) {
    .search-container{
        .search-container-box{
            width: 100%;
            button#search-type{
                height: 4.5vh;
                padding: 0 .8rem;
                background-color: #fff;
                color: #000;
                font-size: 1rem;
                border: 3px solid #000;
                margin: 0 1rem;
                cursor: pointer;
                transition:  1s ease;}
        }
    }  
}

@media screen and (max-width: 450px) {
    .search-container{
        .search-container-box{
            width: 100%;
            button#search-type{
                height: 4.5vh;
                padding: 0 .8rem;
                background-color: #fff;
                color: #000;
                font-size: 1rem;
                border: 3px solid #000;
                margin: 0 1rem;
                cursor: pointer;
                transition:  1s ease;}
        }
    }  
}

@media screen and (max-width: 400px) {
    .search-container{
        .search-container-box{
            width: 100%;
            display: flex;
            justify-content: center;
            input{
                margin: 0 10px;
                width: 80%;
                height: 4vh;
                
            }
            button#search{
                width: 20%;
                height: 4.8vh;
                margin: 0 5px;
                padding: 0 5px;
                background-color: #fff;
                color: #000;
                font-size: 1rem;
                border: 3px solid #000;
                cursor: pointer;
                transition: all 1s ease;
            }
    }  
}}
