.manage-center {
    width: 90%;
    margin: 0 auto;
    .product-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .manage-padding {
            padding: 2rem 8rem;
        }

        .image-product {
            display: flex;
            justify-content: center;

            img {
                height: 75vh;
            }
        }

        .play-music {
            p {
                display: inline-block;
            }
        }

        figure {
            text-align: center;

            button {
                padding: .7rem 1.5rem;
                border: 3px solid #000; 
                font-weight: bold;
                background-color: #fff;
                cursor: pointer;
                transition: all 1s ease;
                #Link{
                    text-decoration: none;
                    color: #000;
                }
            }

            button:hover {
                background-color: #000;
                color: #fff;
            }

            button.back{
                background-color: #000;
                color: #fff;
            }
        }
    }
}