.manage-center {
    width: 100%;
    padding-top: 2rem;
    margin: 0 auto;
    .product-container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .image-product {
            display: flex;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
            img {
                box-sizing: border-box;
               width: 35vw;
            }
        }

        .play-music {
            p {
                display: inline-block;
            }
        }

        figure {
            text-align: center;

            button {
                padding: .7rem 1.5rem;
                border: 3px solid #000; 
                font-weight: bold;
                background-color: #fff;
                cursor: pointer;
                transition: all 1s ease;
                margin: 0 10px;
                #Link{
                    text-decoration: none;
                    color: #000;
                   
                }
            }

            button:hover {
                background-color: #000;
                color: #fff;
            }

            button.back{
                background-color: #000;
                color: #fff;
            }
        }
    }
}
@media screen and (max-width:800px){
    .product-container{
        width: 100%;
    }
    .textname-product{
        font-size: 2vh;
    }
}